Cython==3.0.2
ffmpeg==1.4
matplotlib==3.3.4
munkres==1.1.4
numpy==1.19.5
open3d==0.18.0
opencv_python==4.6.0.66
Pillow==10.2.0
PyQt5==5.15.10
scipy==1.5.4
setuptools==59.6.0
tensorboardX==2.6.2.2
tensorflow==2.15.0.post1
terminaltables==3.1.10
torch==1.10.2
torchvision==0.11.3
tqdm==4.64.1
vidgear==0.3.2
